.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-top: 12rem;  /* mobile navbar space */
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 83%; 
}

.container::-webkit-scrollbar {
  width: 0px;
  background: none;
}

.poster {
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 300px;
  height: auto;
}

.details {
  all: unset;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.3);
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 700px;
  font-family: 'Varela Round', sans-serif;
  color: #FFD54F;
}

.details strong {
  color: #FF5733;
}

.title {
  font-family: 'Dancing Script', cursive;
  color: #FFD54F;    
  font-size: 2rem;
  margin-bottom: 1rem;
}

.overview {
  font-family: 'Varela Round';
  color: #FFD54F;  
  opacity: 0.8;
  margin-bottom: 1rem;
}

.cast {
  margin-top: 1rem;
}

.castList {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.trailerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #FFD54F;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: background 0.3s;
  width: 120px;
}

.trailerButton:hover {
  background-color: #ffc107;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 3rem;
    margin-top: 6rem;
    max-height: calc(100vh - 6rem); /* scrollbar */
    overflow-y: auto;
    width: 92%;
  }
}

