body, #root {
  min-height: 100vh;       /* at least the height of the window */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;       /* avoid horizontal scrolling */
  overflow-y: auto;         /* scroll if content exceeds */

  background: 
    url("https://www.transparenttextures.com/patterns/maze-black.png") repeat,
    linear-gradient(135deg, #000000 0%, #b00020 40%, #000000 100%);
  background-size: auto, cover;
  background-blend-mode: multiply;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;       /* needed for pseudo-element */

  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 213, 79, 0.5) rgba(255, 255, 255, 0.05) !important;    
}

.body::-webkit-scrollbar {
  width: 6px !important;
}

.body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05) !important; 
  border-radius: 3px !important;
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 213, 79, 0.5) !important; 
  border-radius: 3px !important;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;  
 /* position: absolute; */      /* relative to the layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;             /* covers the entire layout, even if it grows */
  background: rgba(0,0,0,0.2);
  pointer-events: none;
  z-index: -1;
  will-change: transform;      /* hint para GPU */
  transform: translateZ(0);    /* fuerza capa independiente */  
}