.homeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* stick to the top */
/*  padding-top: 200px;*/ /* initial adjustment */
  overflow: visible;
  min-height: 300px;
  /*max-height: 100vh;*/ /* o 450px, según prefieras */
  font-family: 'Varela Round';
  color: #FFD54F;    
}

@media (min-width: 769px) {
  .homeWrapper {
    padding-top: 2rem; /* below, to take off from the navbar */
  }
}

@media (max-width: 768px) {
  .homeWrapper {
    padding-top: 0; /* it sticks to the navbar */
  }
}