.homeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* stick to the top */
  padding-top: 1rem; /* initial adjustment */
}

@media (min-width: 769px) {
  .homeWrapper {
    padding-top: 2rem; /* below, to take off from the navbar */
  }
}

@media (max-width: 768px) {
  .homeWrapper {
    padding-top: 0; /* it sticks to the navbar */
  }
}