.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movieCard img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}